<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30" />
    <title></title>
    <style media="screen">
    body{
      background-color: #225378;
      font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
    }
    </style>
    <%- include layout/head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <!-- <h1>Your Conversations</h1> -->
          <center>
            <div class="container">
            <blockquote class="quote-box">
              <p class="quotation-mark">
                “
              </p>
              <p class="quote-text">
                <%= data2.title%>
              </p>
              <hr>
              <div class="blog-post-actions">
                <p class="blog-post-bottom pull-right" style="font-size:12px">
                  Date : <%= data[0].createdAt %>
                </p>

              </div>
            </blockquote>
          </div>
          </center>
          <center>
          <form class="form-inline" action="/home/<%= data2.UserId %>/<%= data[0].TicketId %>/view-conversations" method="post">
            <input type="text" name="message" class="form-control"> &nbsp; <button type="submit" name="button" class="btn btn-success btn-lg">Reply</button>
          </form>
        </center><br>
          <% data.forEach(getMsg => {
            if(getMsg.from === 1){ %>
              <div class="alert " style="background-color:#ACF0F2"> <span style="font-size:20px"><%= getMsg.message %> </span><br>by:<%= data2.User.username%></div>
            <% } else { %>
              <div class="alert  text-right"  style="background-color:#EB7F00"><span style="font-size:20px"><%= getMsg.message %> </span><br>by: <%= data2.Departement.name%></div>
            <% }
          })%>


        </div>
      </div>
    </div>
  </body>
</html>
