<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30" />
    <title></title>
    <style media="screen">
    body{
      background-color: #225378;
      font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
    }
    </style>
    <%- include layout/head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <!-- <h1>Your Conversations</h1> -->
            <div class="container">
            <blockquote class="quote-box">
              <p class="quotation-mark">
                “
              </p>
              <p class="quote-text">
                <%= data[0].title %>
              </p>
              <hr>
              <div class="blog-post-actions"><center>
                <p  style="font-size:16px">
                  From : <%= data[0].User.username%>
                </p></center>
                <p class="blog-post-bottom pull-right" style="font-size:12px">
                  Date : <%= data[0].createdAt %>
                </p>

              </div>
            </blockquote>
          </div>
          <center>
          <form class="form-inline" action="/staff/<%= data[0].DepartementId %>/<%= data[0].id %>/view-conversations" method="post">
            <input type="text" name="message" class="form-control"> &nbsp; <button type="submit" name="button" class="btn btn-success">Respond!</button>
          </form>
        </center><br>




          <!-- conversations start here -->
          <% for(let i = 0; i < data[0].Messages.length; i++) { %>
          <% if(data[0].Messages[i].from === 1){ %>
            <div class="alert " style="background-color:#ACF0F2"> <span style="font-size:20px"><%= data[0].Messages[i].message %> </span><br>by:<%= data[0].User.username%></div>
          <% } else {%>
            <div class="alert  text-right"  style="background-color:#EB7F00"><span style="font-size:20px"><%= data[0].Messages[i].message %> </span><br>by:<%= data[0].Departement.name%></div>
          <% }} %>
        </div>
      </div>
    </div>
  </body>
</html>
